@charset "UTF-8";
/* 색상 fae6cb / fcedd8*/
/* 아이폰12프로 맥스 w390 h844 */
body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}

.mobile .mobile-case {
  position: relative;
  width: 410px;
  height: 874px;
  border: px solid #ddd;
  border-radius: 36px;
}

.mobile .mobile-case:before {
  content: '';
  position: absolute;
  width: 99%;
  height: 99%;
  box-shadow: 1px 1px 1px #ddd;
  background-color: #efefef;
  border-radius: 34px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.mobile .mobile-case .iframe-url {
  position: absolute;
  width: 390px;
  height: 844px;
  background-color: #999;
  border-radius: 34px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
}

.mobile .mobile-case .iframe-url .iframe src {
  position: absolute;
  width: 100%;
  height: 100%;
}

.mobile .mobile-case .camera {
  position: absolute;
  width: 50%;
  height: 40px;
  /* border:1px solid green; */
  border-radius: 0 0 15px 15px;
  background-color: #555;
  top: 5px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 2000;
}

.mobile .mobile-case .camera span {
  position: absolute;
  background-color: #999;
}

.mobile .mobile-case .camera span:nth-child(1) {
  width: 80px;
  height: 10px;
  border-radius: 5px;
  top: 50%;
  left: 50px;
  transform: translateY(-50%);
}

.mobile .mobile-case .camera span:nth-child(2) {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  top: 50%;
  right: 50px;
  transform: translateY(-50%);
}

.mobile .mobile-case .power {
  position: absolute;
  top: 0;
  right: 0;
}

.mobile .mobile-case .power span {
  position: absolute;
  background-color: green;
  width: 8px;
  height: 70px;
  top: 100px;
  right: -5px;
  border-radius: 0 4px 4px 0;
}

.mobile .mobile-case .sound-bar {
  position: absolute;
  top: 0;
  left: 0;
}

.mobile .mobile-case .sound-bar span {
  position: absolute;
  top: 100px;
  left: -5px;
  width: 8px;
  border-radius: 4px 0 0 4px;
}

.mobile .mobile-case .sound-bar span:nth-child(1) {
  height: 25px;
  background-color: green;
}

.mobile .mobile-case .sound-bar span:nth-child(2) {
  top: 150px;
  height: 40px;
  background: yellowgreen;
}

.mobile .mobile-case .sound-bar span:nth-child(3) {
  top: 200px;
  height: 40px;
  background: yellowgreen;
}
